<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Experience</th>
                <th>Money</th>
                <th>Request</th>
                <th>Auto</th>
                <th>Free</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="driver : ${drivers}">
                <td th:text="${driver.id}"></td>
                <td th:text="${driver.name}"></td>
                <td th:text="${driver.experience}"></td>
                <td th:text="${driver.money}"></td>
                <td th:if="${driver.request == null}">no</td>
                <td th:if="${driver.request != null}">
                    <a th:href="@{/requests/get/{request}(request=${driver.request.id})}">View</a>
                </td>
                <td th:if="*{driver.auto == null}">no</td>
                <td th:if="*{driver.auto != null}">
                    <a th:href="@{/cars/get/{car}(car=${driver.auto.id})}">View</a>
                </td>
                <td th:text="${driver.free}"></td>



                <td><a th:href="@{get/{id}(id=${driver.getId()})}">Show</a></td>
                <td><a th:href="@{edit/{id}(id=${driver.getId()})}">Edit</a></td>
                <td><a th:href="@{delete/{id}(id=${driver.getId()})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{add}">Add</a>
</body>
</html>